@import url(`https://fonts.google.com/specimen/Manrope`);
$Very_Dark_Grayish_Blue: hsl(217, 19%, 35%);
$Desaturated_Dark_Blue: hsl(214, 17%, 51%);
$Grayish_Blue: hsl(212, 23%, 69%);
$Light_Grayish_Blue: hsl(210, 46%, 95%);

body {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  background-color: $Light_Grayish_Blue;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.card-title {
  word-wrap: break-word;
}
.main-text {
  word-wrap: break-word;
}
.card {
  width: 800px;
  vertical-align: middle;
  overflow-wrap: break-word;
}

.card-img {
  width: 100%;
  height: 100%;
}

.author_img {
  width: 40px;
}

.share_icon {
  background-color: $Light_Grayish_Blue;
  width: 40px;
  text-align: center;
  padding: 10px;
}
.fa-share {
  color: $Desaturated_Dark_Blue;
}
